<div class="stay-well-footer">
  <div class="footer-logo">
    <%= image_tag 'logo.png' %>
    <a href="">Stay Well Deliveries</a>
  </div>
  <div class="footer-primary-links">
    <h3>Useful Links</h3>
    <a href="/help">Request Help</a>
    <a href="/collaborator">Collaborate</a>
    <a href="/donate">Donate</a>
  </div>
  <div class="footer-secondary-links">
    <a href="tel: 07714206474" class="footer-call-button"><i class="fas fa-phone-alt"> </i> Call Us: 07714 206474</a>
    <a href="mailto: jamiewalden@gmail.com" class="footer-call-button"><i class="fas fa-envelope"></i> Email Us: jamiewalden@gmail.com</a>
  </div>
</div>
<div class="footer-bottom-bar">

</div>
