<div class="stay-well-footer">
  <div class="footer-logo">
    <%= image_tag 'logo.png' %>
    <a href="">Stay Well Deliveries <br> <span>Coronavirus UK Support Community</span></a>
  </div>
  <div class="footer-primary-links">
    <h3>Useful Links</h3>
    <a href="/help">Request Help</a>
    <a href="/collaborator">Collaborate</a>
    <a href="/donate">Donate</a>
    <a href="/contact">Contact Us</a>
  </div>
  <div class="footer-secondary-links">
    <a href="tel: 07714206474" class="footer-button"><i class="fas fa-phone-alt"> </i> Call: 07464-236-371</a>
    <a href="mailto: jamiewalden@gmail.com" class="footer-button"><i class="fas fa-envelope"></i> Email: contact@hoxton-digital.com</a>
  </div>
</div>
<div class="footer-bottom-bar">

</div>
