<div class="navbar-stay-well">
  <div class="navbar-logo">
    <%= image_tag "logo.png" %>
    <a href="/">Stay Well Deliveries <br> <span>Coronavirus Support Community</span></a>
  </div>
  <div class="navbar-links">
    <a href="/" class="navbar-link">Home Page</a>
    <a href="/donate" class="navbar-link">Donate</a>
    <a href="/contact" class="navbar-link">Contact Page</a>
    <a href="/collaborator" class="navbar-button">Collaborate</a>
    <a href="/help" class="navbar-button">Request Help</a>
  </div>
  <div class="navbar-burger" onclick="mobileNav();">
    <i class="fas fa-bars"></i>
    <p>Menu</p>
  </div>
  <div class="navbar-mobile-menu" id="mobNav">
    <h1 class="navbar-mobile-title">MENU</h1>
    <span class="navb-mobile-close" onclick="mobileNav();">&times;</span>
    <a href="/" class="navbar-mobile-link">Home Page</a>
    <a href="/donate" class="navbar-mobile-link">Donate</a>
    <a href="/contact" class="navbar-mobile-link">Contact Page</a>
    <a href="/collaborator" class="navbar-mobile-link">Collaborate</a>
    <a href="/help" class="navbar-mobile-link">Request Help</a>
  </div>
</div>

<script>

 function mobileNav() {
  const x = document.getElementById("mobNav");
  if (x.style.display === "flex") {
    x.style.display = "none";
    x.style.transition = "0.3s"
  } else {
    x.style.display = "flex";
    x.style.transition = "0.3s"
  }
};
</script>

