<div class="navbar-stay-well">
  <div class="navbar-logo">
    <%= image_tag "logo.png" %>
    <a href="/">Stay Well Deliveries</a>
  </div>
  <div class="navbar-links">
    <a href="/" class="navbar-link">Home Page</a>
    <a href="/donate" class="navbar-link">Donate</a>
    <a href="/contact" class="navbar-link">Contact Page</a>
    <a href="/collaborator" class="navbar-button">Collaborate</a>
    <a href="/help" class="navbar-button">Request Help</a>
  </div>
  <div class="navbar-burger">
    <i class="fas fa-bars"></i>
    <a href="">Menu</a>
  </div>
  <div class="navbar-mobile-menu" id="mobNav">
    <a href="/" class="navbar-mobile-link">Home Page</a>
    <a href="/donate" class="navbar-mobile-link">Donate</a>
    <a href="/contact" class="navbar-mobile-link">Contact Page</a>
    <a href="/collaborator" class="navbar-mobile-link">Collaborate</a>
    <a href="/help" class="navbar-mobile-link">Request Help</a>
  </div>
</div>

<script>
mobileNav() => {
  const x = document.getElementById("mobNav");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
