<div class="collaborate-page">
  <div class="collaborate-page-hero-banner">
    <h1>Become a Collaborator</h1>
    <h3>Please refer to the form below to become a collaborator</h3>
    <div class="collaborator-form">
      <%= link_to "Be a collaborator", collaborator_form_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
