<div class="help-page">
  <div class="help-page-hero-banner">
    <h1>Request Help</h1>
    <h3>Please refer to the contact form below and we'll get back to you as soon as possible</h3>
    <div class="recipient-form">
      <%= link_to "Find help", recipient_form_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
