<div class="home-hero-banner">
  <h1>Need Help? Call us <strong>anytime (07714-206-474)</strong></h1>
  <p>Stay Well helps those in need during times of crisis to get groceries and medication delivered. Please ask us how can we help</p>
</div>
