.navbar-stay-well {
  height: 80px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.navbar-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }

  & a {
    color: $primary-color;
    font-weight: bolder;
    text-decoration: none;
  }
}

.navbar-link {
  margin: 0.5rem 1rem;
  color: $black;
  padding-bottom: 10px;
  border-bottom: 3px solid white;
  transition: 0.3s;

  &:hover {
    color: $primary-color;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 3px solid $primary-color;
  }
}


